@import "../../theme/fonts.scss";
@import "../../theme/variables.scss";

.dashboard-container {
  width: 100%;

  .dashboard-title {
    font-family: "Open-Sans";
    font-weight: 600;
    font-size: 24px;
    color: $secondary-color;
  }
}


.chart-component-container {
  width: 50%;
  box-sizing: border-box;
}

.item {
  margin-top: 30px;
}

.total-revenue {
  font-family: "Open-Sans";
  font-weight: 600;
  font-size: 18px;
  color: $text-grey;
}

.card-container-dashboard{
  border-radius: 15px !important;
  border: 1px solid #e8e6e6;
  text-align: center;
  padding-top: 25px;

  label {
    font-size: 20px;
  }
}

.tr-amt{
  font-family: "Open-Sans";
  font-size: 22px;
  color: #807BEF;
}

.tr-hrs{
  font-family: "Open-Sans";
  font-size: 14px;
  color: $text-grey;
}

.tr-icon{
  width: 20px;
  height: 20px;
}

.sm-title{
  font-family: "Open-Sans";
  font-weight: 600;
  font-size: 18px;
  color: $text-grey;
  text-align: center;
}

.outline{
  border: 0.5px solid $text-grey;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-count{
  font-family: "Open-Sans";
  font-size: 12px;
  color: $text-grey;
}

.donut-chart{
  flex-grow: 1;
}