@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


ul, li {
  list-style-type: none;
  margin-top: 20px;
}

.textbox {
  margin-left: 20px;
}

.small-header {
  font-size: medium;
}